
/*
* --------------------------------------------
* These are some styles that I am customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/
.bg-info {
    background-color: #FA9500 !important;     /* some secondary colour */
}

.navbar-light .navbar-brand {
    color: #7C6A0A;                           /* contrast to secondary colour */
}

.btn-primary {
    color: #7C6A0A;                           /* contrast to secondary colour */
    font-size: 150%;
    background-color: #FA9500;                /* some secondary colour */
    border-color: #eb6424;                    /* some accent colour */
    border-width: thick
}

body {
    background-color: #BABD8D;                /* some primary colour */
}

/* this is the new font for my logo navbar brand */
.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 2.25rem;
}